  <footer id="footer">
    <nav>
      <ul>
        <li><span>Cloud Native Go!</span></li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        </li>
          <li>
          <a href="/faq/">Faq</a>
        </li>
        <li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy;2018 CloudNativeGo.com</p>
  </footer>
  <!-- baidu analysis -->
<meta name="baidu-site-verification" content="g8IYR9SNLF" />
<script>
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?11f7d254cfa4e0ca44b175c66d379ecc";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
    })();
</script>
